<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="sidenav">
        <h4>User:[[${account.username}]]</h4>
        <a href="#" th:href="@{/pizzasAdmin}">Pizzas</a>
        <a href="#" th:href="@{/drinksAdmin}">Drinks</a>
        <a href="#" th:href="@{/orders}">Orders</a>
        <a href="#" th:href="@{/}">Logout</a>

    </div>
    <div class="container-products">
        <div class="header">
            <h1>Tasty Pizza</h1>
        </div>
        <div class="products" xmlns:th="http://www.w3.org/1999/xhtml">
            <ul class="products-column">
                <th:block th:each="product : ${products}">
                    <li>
                        <td></td> <img th:src="@{${product.imgurl}}" height="250" width="250"/></td>
                        <td><h3>[[${product.name}]]</h3></td>
                        <td><h3>[[${product.description}]]</h3></td>
                        <td><h3>Цена:[[${product.price}]] лв</h3></td>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>